<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css"
          media="only screen and (min-width: 530px) and (min-device-width: 481px)"
          href="/stylesheets/wide.css" />
    <link rel="stylesheet" type="text/css"
          media="only screen and (max-device-width: 480px)"
          href="/stylesheets/smartphone.css" />
</head>
<body>
<h1>Autor de Quiz</h1>
<h2>Pablo José Santini</h2>
<p>
    Twitter: <a href="https://twitter.com/pjsantini" target="_blank">@pjsantini</a>
</p>
<p>
    <a href="/"> Volver a Inicio</a>
</p>

</body>
</html>