<label for="preg" class="rem">Pregunta: </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/><br />
<label for="resp" class="rem">Respuesta: </label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/><br />
<label for="tema" class="rem">Tema: </label>
<select id="tema" name="quiz[tema]" >
    <option value="otro" selected>Otro</option>
    <option value="ciencias">Ciencias</option>
    <option value="humanidades">Humanidades</option>
    <option value="ocio">Ocio</option>
    <option value="tecnologia">Tecnología</option>
</select><br />
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">