<form method="get" action="/quizes/<%= quiz.id %>/answer">
    Pregunta: <%= quiz.pregunta %><br />
    Respuesta: <input type="text" name="respuesta" value="Responda aquí"><br />
    <input type="submit" value="Enviar" >
</form>